.List {
}

.ListItem {
  padding: 10;
  margin-top: 5;
  border-color: "grey";
  background-color: "#ccc";
  border-width: 1;
  list-style-type: disc;
}

.ListItemBought {
  list-style-type: square;
}

.ListItemBought .ListItemText {
  text-decoration: line-through;
}
